admin_ws/src/conf/xml-resources/web-service-references/DisplayService/wsdl/localhost_8080/Server_WS/DisplayService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://method.ezbooking.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://method.ezbooking.com/">

<xs:element name="display" type="tns:display"/>

<xs:element name="displayResponse" type="tns:displayResponse"/>

<xs:complexType name="display">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="displayResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>